<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
      <% if @user.projects.any? %>
        <%= render "projects/project_list" %>
      <% else %>
      <h1>You don't have any projects yet,  <%= link_to " add a project", new_project_path, class: "primary" %></h1>
      <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to this thing!</h1>
    <h2>
      Organize stuff. For fun.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>


