
<div class="panel panel-default" draggable="true" ondragstart="dragstart_handler(event, <%= task[:progress_state]%>, <%=task.id%> );" id="task-<%=task.id%>">
  <div class="panel-heading">
    <h4 class="panel-title row"><span class="col-sm-10"><%= task.name %></span> 
      <span class="col-sm-2"><%= link_to "", task, method: :delete,
                      data: { confirm: "You sure?" }, 
                      class: "glyphicon glyphicon-trash pull-right" %></span>
    </h4>
  </div>
  <div class="panel-body">
    <%= task.description %>
      <% if current_user?(task.project.user) %>
  <% end %>
  </div>
</div>