<% provide(:title, @project.name) %>


  <h1><%= @project.name%></h1>

  <p class="text-center"><%= @project.description %></p>




<% if @project.tasks.any? %>
<div class="row ">

  <div class="col-sm-4">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h4 class="panel-title">Planned</h4>
      </div>
      <div class="panel-body" id="0" ondrop="drop_handler(event, this);" 
                                    ondragover="dragover_handler(event)";
                                    ondragenter="dragenter_handler(event, this)",
                                    ondragleave="dragleave_handler(event, this)">
        <%= render @tasks.planned %>
      </div>
    </div> 
  </div>
  
  <div class="col-sm-4">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h4 class="panel-title">Active</h4>
      </div>
      <div class="panel-body" id="1" ondrop="drop_handler(event, this);" 
                                    ondragover="dragover_handler(event)";
                                    ondragenter="dragenter_handler(event, this)",
                                    ondragleave="dragleave_handler(event, this)">
        <%= render @tasks.active %>
      </div>
    </div> 
  </div>
  
  <div class="col-sm-4" >
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h4 class="panel-title">Complete</h4>
      </div>
      <div class="panel-body" id="2" ondrop="drop_handler(event, this);" 
                                    ondragover="dragover_handler(event);"
                                    ondragenter="dragenter_handler(event, this)",
                                    ondragleave="dragleave_handler(event, this)">
        <%= render @tasks.complete %>
      </div>
    </div> 
  </div>
</div>

<% else %>
  <span>Empty project. Add some tasks</span>
<% end %>


<div class="row">
  <div class="col-sm-4">
  <%= form_for(@task) do |f| %>
    <%= render 'shared/error_messages' , object: f.object%>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    
    <%= f.hidden_field :project_id, :value => @project.id %>

    <%= f.submit "Add task", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>

<script type="text/javascript">
  var origin;
  var taskId; 
  var token = "";
  
  var metaTags=document.getElementsByTagName("meta");
  
  for (var i = 0; i < metaTags.length; i++) {
    if (metaTags[i].getAttribute("name") == "csrf-token") {
        token = metaTags[i].getAttribute("content");
        break;
    }
  };
  
  function dragstart_handler(ev, original_state, task) {
    origin = original_state;
    taskId = task;

    ev.dataTransfer.setData("text/plain", ev.target.id);
  };
  
  function drop_handler(ev, el) {
    ev.preventDefault();
    //only allow dragging one step at a time
    if(Math.abs(origin - el.id) === 1) {
      var data = ev.dataTransfer.getData("text");
      el.appendChild(document.getElementById(data));
      updateTaskProgressState(taskId , el.id);
      el.parentElement.classList.toggle('panel-success');    
    }
    if(Math.abs(origin - el.id) > 1) {
      el.parentElement.classList.toggle('panel-danger');    
    }
  };
  
  function dragover_handler(ev) {
   ev.preventDefault();
   // Set the dropEffect to move
   ev.dataTransfer.dropEffect = "move"
  };
  
  function dragenter_handler(ev, el) {
    ev.preventDefault();
    if(Math.abs(origin - el.id) === 1 && origin !== el.id) {
      el.parentElement.classList.toggle('panel-success');    
    }
    else if(Math.abs(origin - el.id) > 1) {
      el.parentElement.classList.toggle('panel-danger');    
    }
        
  }
  
  function dragleave_handler(ev, el) {
    ev.preventDefault();
    if(Math.abs(origin - el.id) === 1 && origin !== el.id) {
      el.parentElement.classList.toggle('panel-success');    
    }
    else if(Math.abs(origin - el.id) > 1) {
      el.parentElement.classList.toggle('panel-danger');    
    }
  }
  
  
  function updateTaskProgressState(taskId, destination) {
    xhr = new XMLHttpRequest();

    xhr.open('POST',
      encodeURI('task/' + taskId ));
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRF-Token', token);
    xhr.onload = function() {
        if (xhr.status !== 200) {
          alert('Request failed.  Returned status of ' + xhr.status);
        } 
        else{
        document.getElementById('task-'+ taskId).outerHTML = xhr.responseText;
        }
    };
    xhr.send(encodeURI('destination=' + destination));
  };
  
</script>
