<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://bitbucket.org/bendandi/rails_project_app">Bitbucket</a></li>
      <li><%= link_to "About", about_path %></li>

    </ul>
  </nav>
</footer>